@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap')

:root {
    --primary-color: #74D3AE;
    --secundary-color: hsl(103, 23%, 45%);
    --accent1-color: hsl(91, 33%, 65%);
    --accent2-color: hsl(39, 70%, 88%);

    --primary-color: hsl(157, 52%, 64%);
    --secundary-color: hsl(103, 23%, 45%);
    --accent1-color: hsl(91, 33%, 65%);
    --accent2-color: hsl(39, 70%, 88%);

    --heading-font: 'PT Serif', serif;
    --paragraph-font: 'PT Serif', serif;

    --nav-background-color: hsl(39, 70%, 88%);
    --nav-link-color: hsl(103, 23%, 45%);
    --nav-hover-link-color: hsl(91, 33%, 65%);
    --nav-hover-blackground-color: hsl(157, 52%, 64%);
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-backgrpound);
}